# vi: set ft=json.jinja :

{% set arch     =  salt['config.get']('osarch') %}
{% set codename =  salt['config.get']('lsb_distrib_codename') %}
{% set codename = 'precise' %}
{% set family   =  salt['config.get']('os_family')|lower %}
{% set major    =  salt['config.get']('osmajorrelease') %}
{% set os       =  salt['config.get']('os')|lower %}
{% set map      =  salt['grains.filter_by']({
  'Debian': {
    'pkgrepo': {
      'name':          'deb [arch=' + arch + '] http://archive.cloudera.com/cm4/' + os + '/' + codename + '/' + arch + '/cm ' + codename + '-cm4',
      'file':         '/etc/apt/sources.list.d/cloudera-cm4.list',
      'key_url':       'http://archive.cloudera.com/cdh4/' + os + '/' + codename + '/' + arch + '/cdh/archive.key',
    },
  },
  'RedHat': {
    'pkgrepo': {
      'name':          'cloudera-cm4',
      'file':         '/etc/yum.repos.d/cloudera-cm4.repo',
      'key_url':       'http://archive.cloudera.com/cdh4/' + family + '/' + major + '/' + arch + '/cdh/RPM-GPG-KEY-cloudera',
    },
  },
}, merge=salt['config.get']('cloudera-cm4')) %}
