# vi: set ft=json.jinja :

{% set cron = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'cron',
    },
    'service': {
      'name':          'cron',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'cronie',
    },
    'service': {
      'name':          'crond',
    },
  },
}, merge=salt['config.get']('cron')) %}
