[Unit]
Description=ntp
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ntp || docker run --detach=true --link=salt-master:salt --name=ntp ntp'
ExecStop=/bin/bash  -c 'docker stop  ntp'

[Install]
WantedBy=multi-user.target
