# vi: set ft=json.jinja :

{% set salt_common = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'salt-common',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'salt',
    },
  },
}, merge=salt['config.get']('salt-common')) %}
