[Unit]
Description=riemann
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start riemann || docker run --detach=true --link=salt-master:salt --name=riemann riemann'
ExecStop=/bin/bash  -c 'docker stop  riemann'

[Install]
WantedBy=multi-user.target
