# vi: set ft=json.jinja :

{% set cloudera_cm5_api = salt['grains.filter_by']({
  'Debian': {
    'pip': {
      'name':          'cm_api',
    },
  },
  'RedHat': {
    'pip': {
      'name':          'cm-api',
    },
  },
}, merge=salt['config.get']('cloudera-cm5-api')) %}
