[Unit]
Description=gmetad
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start gmetad || docker run --detach=true --link=salt-master:salt --name=gmetad gmetad'
ExecStop=/bin/bash  -c 'docker stop  gmetad'

[Install]
WantedBy=multi-user.target
