# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'golang-go',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'golang',
    },
  },
}, merge=salt['config.get']('golang-go')) %}
