# vi: set ft=json.jinja :

{% set mongodb_server = salt['grains.filter_by']({
  'Debian': {
    'service': {
      'name':          'mongodb',
    },
  },
  'RedHat': {
    'service': {
      'name':          'mongod',
    },
  },
}, merge=salt['config.get']('mongodb-server')) %}
