# vi: set ft=json.jinja :

{% set netbase = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'netbase',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'setup',
    },
  },
}, merge=salt['config.get']('netbase')) %}
