[Unit]
Description=tomcat7
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start tomcat7 || docker run --detach=true --link=salt-master:salt --name=tomcat7 tomcat7'
ExecStop=/bin/bash  -c 'docker stop  tomcat7'

[Install]
WantedBy=multi-user.target
