# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'service': {
      'name':          'incron',
    },
    '/etc/incron.allow': {
      'file': {
        'group':       'incron',
      },
    },
  },
  'RedHat': {
    'service': {
      'name':          'incrond',
    },
    '/etc/incron.allow': {
      'file': {
        'group':       'root',
      },
    },
  },
}, merge=salt['config.get']('incron')) %}
