# vi: set ft=json.jinja :

{% set php5_pdo = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'php5-common',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'php53u-pdo',
    },
  },
}, merge=salt['config.get']('php5-pdo')) %}
