[Unit]
Description=gitlab
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start gitlab || docker run --detach=true --link=salt-master:salt --name=gitlab gitlab'
ExecStop=/bin/bash  -c 'docker stop  gitlab'

[Install]
WantedBy=multi-user.target
