# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'dnsutils',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'bind-utils',
    },
  },
}, merge=salt['config.get']('dnsutils')) %}
