[Unit]
Description=opsview
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start opsview || docker run --detach=true --link=salt-master:salt --name=opsview opsview'
ExecStop=/bin/bash  -c 'docker stop  opsview'

[Install]
WantedBy=multi-user.target
