# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'multipath-tools',
    },
    'service': {
      'name':          'multipath-tools',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'device-mapper-multipath',
    },
    'service': {
      'name':          'multipathd',
    },
  },
}, merge=salt['config.get']('multipath-tools')) %}
