# vi: set ft=json.jinja :

{% set version = '1.4' %}
{% set map     =  salt['grains.filter_by']({
  'Debian': {
    'pkgrepo': {
      'name':          'deb http://packages.elasticsearch.org/logstash/' + version + '/debian stable main',
      'file':         '/etc/apt/sources.list.d/logstash.list',
    },
    '/etc/default/logstash': {
      'file': {
        'name':       '/etc/default/logstash',
      },
    },
  },
  'RedHat': {
    'pkgrepo': {
      'name':          'logstash',
      'file':         '/etc/yum.repos.d/logstash.repo',
    },
    '/etc/default/logstash': {
      'file': {
        'name':       '/etc/sysconfig/logstash',
      },
    },
  },
}, merge=salt['config.get']('logstash')) %}
{% do map.update(version=version) %}
