[Unit]
Description=postgresql
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start postgresql || docker run --detach=true --link=salt-master:salt --name=postgresql postgresql'
ExecStop=/bin/bash  -c 'docker stop  postgresql'

[Install]
WantedBy=multi-user.target
