[Unit]
Description=mongodb-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start mongodb-server || docker run --detach=true --link=salt-master:salt --name=mongodb-server mongodb-server'
ExecStop=/bin/bash  -c 'docker stop  mongodb-server'

[Install]
WantedBy=multi-user.target
