# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'nagios3',
    },
    'service': {
      'name':          'nagios3',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'nagios',
    },
    'service': {
      'name':          'nagios',
    },
  },
}, merge=salt['config.get']('nagios3')) %}
