# vi: set ft=yaml.jinja :

{% if   salt['config.get']('os_family') == 'Debian' %}

nagios3:
  pkg:
    name:          nagios3
  service:
    name:          nagios3

{% elif salt['config.get']('os_family') == 'RedHat' %}

nagios3:
  pkg:
    name:          nagios
  service:
    name:          nagios

{% endif %}
