# vi: set ft=json.jinja :

{% set libxslt1_dev = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'libxslt1-dev',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'libxslt-devel',
    },
  },
}, merge=salt['config.get']('libxslt1-dev')) %}
