# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    '/home/nagios': {
      'file': {
        'name':       '/home/nagios',
      },
    },
    '/usr/lib/nagios/plugins': {
      'file': {
        'name':       '/usr/lib/nagios/plugins',
      },
    },
  },
  'RedHat': {
    '/home/nagios': {
      'file': {
        'name':       '/var/spool/nagios',
      },
    },
    '/usr/lib/nagios/plugins': {
      'file': {
        'name':       '/usr/lib64/nagios/plugins',
      },
    },
  },
}, merge=salt['config.get']('nagios-plugins-basic')) %}
