# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'service': {
      'name':          'mysql',
    },
  },
  'RedHat': {
    'service': {
      'name':          'mysqld',
    },
  },
}, merge=salt['config.get']('mariadb-server')) %}
