# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'nis',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'ypbind',
    },
  },
}, merge=salt['config.get']('nis')) %}
