# vi: set ft=json.jinja :

{% set cobbler_common = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'cobbler-common',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'cobbler',
    },
  },
}, merge=salt['config.get']('cobbler-common')) %}
