# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'service': {
      'name':          'ssh',
    },
  },
  'RedHat': {
    'service': {
      'name':          'sshd',
    },
  },
}, merge=salt['config.get']('openssh-server')) %}
