[Unit]
Description=puppetmaster
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start puppetmaster || docker run --detach=true --link=salt-master:salt --name=puppetmaster puppetmaster'
ExecStop=/bin/bash  -c 'docker stop  puppetmaster'

[Install]
WantedBy=multi-user.target
