# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'debianutils',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'which',
    },
  },
}, merge=salt['config.get']('debianutils')) %}
