# vi: set ft=yaml.jinja :

{% if   salt['config.get']('os_family') == 'Debian' %}

debianutils:
  pkg:
    name:          debianutils

{% elif salt['config.get']('os_family') == 'RedHat' %}

debianutils:
  pkg:
    name:          which

{% endif %}
