# vi: set ft=yaml.jinja :

{% if   salt['config.get']('os_family') == 'Debian' %}

python-pip:
  pkg:
    name:          python-pip

{% elif salt['config.get']('os_family') == 'MacOS' %}

python-pip:
  pkg:
    name:          python

{% elif salt['config.get']('os_family') == 'RedHat' %}

python-pip:
  pkg:
    name:          python-pip

{% endif %}
