# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'python-protobuf',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'protobuf-python',
    },
  },
}, merge=salt['config.get']('python-protobuf')) %}
