# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'lxc-docker',
    },
    '/etc/default/docker': {
      'file': {
        'name':       '/etc/default/docker',
      },
    },
  },
  'MacOS': {
    'pkg': {
      'name':          'boot2docker',
    },
    '/etc/default/docker': {
      'file': {
        'name':       '/var/lib/boot2docker/profile',
      },
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'docker-io',
    },
    '/etc/default/docker': {
      'file': {
        'name':       '/etc/sysconfig/docker',
      },
    },
  },
}, merge=salt['config.get']('lxc-docker')) %}
