# vi: set ft=json.jinja :

{% set libzmq3_dev = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'libzmq3-dev',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'zeromq3-devel',
    },
  },
}, merge=salt['config.get']('libzmq3-dev')) %}
