[Unit]
Description=nagios-nrpe-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nagios-nrpe-server || docker run --detach=true --link=salt-master:salt --name=nagios-nrpe-server nagios-nrpe-server'
ExecStop=/bin/bash  -c 'docker stop  nagios-nrpe-server'

[Install]
WantedBy=multi-user.target
