# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'libxml2-dev',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'libxml2-devel',
    },
  },
}, merge=salt['config.get']('libxml2-dev')) %}
