# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'oracle-j2sdk1.7',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'oracle-j2sdk1.7',
    },
  },
}, merge=salt['config.get']('oracle-j2sdk1_7')) %}
