# vi: set ft=json.jinja :

{% set vim = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'vim',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'vim-enhanced',
    },
  },
}, merge=salt['config.get']('vim')) %}
