# vi: set ft=yaml.jinja :

{% if   salt['config.get']('os_family') == 'Debian' %}

vim:
  pkg:
    name:          vim

{% elif salt['config.get']('os_family') == 'MacOS' %}

vim:
  pkg:
    name:          vim

{% elif salt['config.get']('os_family') == 'RedHat' %}

vim:
  pkg:
    name:          vim-enhanced

{% endif %}
