# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'group': {
      'name':          'nogroup',
    },
  },
  'RedHat': {
    'group': {
      'name':          'jenkins',
    },
  },
}, merge=salt['config.get']('jenkins')) %}
