{% set binddn  = salt['config.get']('slapd:binddn') -%}
{% set minions = salt['roles.dict']('slapd') -%}
{% if minions['slapd'] -%}
ldap {
  com.sun.security.auth.module.LdapLoginModule REQUIRED
    userProvider="ldap://{{ minions['slapd'] }}/{{ binddn }}"
    authIdentity="cn={USERNAME},{{ binddn }}"
    userFilter="(&(|(samAccountName={USERNAME})(userPrincipalName={USERNAME})(cn={USERNAME}))(objectClass=user))"
    useSSL=false
    debug=true;
  };

unix {
  com.sun.security.auth.module.UnixLoginModule REQUIRED;
  };
{% endif -%}
