[Unit]
Description=calamari
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start calamari || docker run --detach=true --link=salt-master:salt --name=calamari calamari'
ExecStop=/bin/bash  -c 'docker stop  calamari'

[Install]
WantedBy=multi-user.target
