[Unit]
Description=rsyslog
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start rsyslog || docker run --detach=true --link=salt-master:salt --name=rsyslog rsyslog'
ExecStop=/bin/bash  -c 'docker stop  rsyslog'

[Install]
WantedBy=multi-user.target
