[Unit]
Description=postfix
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start postfix || docker run --detach=true --link=salt-master:salt --name=postfix postfix'
ExecStop=/bin/bash  -c 'docker stop  postfix'

[Install]
WantedBy=multi-user.target
