# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'group': {
      'name':          'www-data',
    },
    'user': {
      'name':          'www-data',
    },
  },
  'RedHat': {
    'group': {
      'name':          'nginx',
    },
    'user': {
      'name':          'nginx',
    },
  },
}, merge=salt['config.get']('nginx')) %}
