[Unit]
Description=lxc-docker
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start lxc-docker || docker run --detach=true --link=salt-master:salt --name=lxc-docker lxc-docker'
ExecStop=/bin/bash  -c 'docker stop  lxc-docker'

[Install]
WantedBy=multi-user.target
