[Unit]
Description=ceph-deploy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ceph-deploy || docker run --detach=true --link=salt-master:salt --name=ceph-deploy ceph-deploy'
ExecStop=/bin/bash  -c 'docker stop  ceph-deploy'

[Install]
WantedBy=multi-user.target
