[Unit]
Description=uchiwa
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start uchiwa || docker run --detach=true --link=salt-master:salt --name=uchiwa uchiwa'
ExecStop=/bin/bash  -c 'docker stop  uchiwa'

[Install]
WantedBy=multi-user.target
