[Unit]
Description=oozie
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start oozie || docker run --detach=true --link=salt-master:salt --name=oozie oozie'
ExecStop=/bin/bash  -c 'docker stop  oozie'

[Install]
WantedBy=multi-user.target
