# vi: set ft=json.jinja :

{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkg': {
      'name':          'python-repoze.lru',
    },
  },
  'RedHat': {
    'pkg': {
      'name':          'python-repoze-lru',
    },
  },
}, merge=salt['config.get']('python-repoze_lru')) %}
