[Unit]
Description=privoxy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start privoxy || docker run --detach=true --link=salt-master:salt --name=privoxy privoxy'
ExecStop=/bin/bash  -c 'docker stop  privoxy'

[Install]
WantedBy=multi-user.target
