[Unit]
Description=nagios3
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nagios3 || docker run --detach=true --link=salt-master:salt --name=nagios3 nagios3'
ExecStop=/bin/bash  -c 'docker stop  nagios3'

[Install]
WantedBy=multi-user.target
